/* Home Screen
 * Author: bhuelga
 * -----------------
 * Styles elements that are used on multiple pages of the site.
  */
/* Util
 * Author: bhuelga
 * -----------------
 * Wrapper functions and global Sass variables for all pages
 */
/*   Constants   */
/*   Utility Mixins   */
/*   Colors   */
/*   General   */
* {
  box-sizing: border-box; }

html {
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

main {
  width: 100%;
  max-width: 2560px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: white; }

canvas {
  max-width: 100%;
  max-height: 100%; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background: #F9F9F9; }
  ::-webkit-scrollbar-thumb {
    background: #666666; }
    ::-webkit-scrollbar-thumb:hover {
      background: #163856; }

.flexbox {
  display: flex; }

.hidden {
  display: none !important; }

.accordion .accordion-header {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  border-bottom: solid 1px #122D46;
  vertical-align: middle;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  transition: 0.3s ; }
  .accordion .accordion-header span {
    margin-left: 5px; }
  .accordion .accordion-header.active {
    background: #122D46; }
  .accordion .accordion-header:hover {
    background: #122D46; }
  .accordion .accordion-header .accordion-icon {
    margin-left: auto;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2); }

.accordion .accordion-content {
  display: none;
  padding: 10px 20px 0 20px;
  color: white;
  background: #2D2D2D;
  border-bottom: solid 1px #122D46; }
  .accordion .accordion-content .accordion-subheader {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0 15px 10px;
    cursor: pointer; }
    .accordion .accordion-content .accordion-subheader i {
      margin-right: 5px; }
    .accordion .accordion-content .accordion-subheader .edit-icon {
      margin-left: auto;
      opacity: 0;
      -webkit-transition: 0.1s ;
      -moz-transition: 0.1s ;
      transition: 0.1s ; }
    .accordion .accordion-content .accordion-subheader:hover span {
      color: #4B9FCB; }
    .accordion .accordion-content .accordion-subheader:hover .edit-icon {
      opacity: 1; }
  .accordion .accordion-content .accordion-subcontent {
    display: none;
    margin: 0 -20px !important;
    padding: 10px 20px;
    background: #666666; }
    .accordion .accordion-content .accordion-subcontent div {
      display: flex;
      align-items: center;
      margin: 10px 10px;
      cursor: pointer;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      .accordion .accordion-content .accordion-subcontent div i {
        margin-right: 5px;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6); }
      .accordion .accordion-content .accordion-subcontent div.active {
        background: #8A8A8A; }
      .accordion .accordion-content .accordion-subcontent div:hover {
        color: #4B9FCB; }

.tooltip {
  position: relative; }
  .tooltip .tooltiptext {
    width: 150px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 20;
    padding: 5px;
    visibility: hidden;
    font-size: 1rem;
    color: white !important;
    background: black;
    text-align: center;
    border-radius: 6px; }
    .tooltip .tooltiptext:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent black transparent; }
  .tooltip:hover .tooltiptext {
    visibility: visible; }

.modal {
  height: 50%;
  width: 50%;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #163856;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 18px black;
  -moz-box-shadow: 0 0 18px black;
  box-shadow: 0 0 18px black; }

#header-content {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #4B9FCB; }
  #header-content a {
    color: #163856;
    text-decoration: none; }
    #header-content a:hover {
      color: #122D46; }

#product-content {
  height: 600px;
  width: 100%;
  background-color: #163856; }

#pma-info-content {
  height: 600px;
  width: 100%;
  background-color: #122D46; }

#homeowner-info-content {
  height: 600px;
  width: 100%;
  background-color: #C47F15; }

#backoffice-info-content {
  height: 600px;
  width: 100%;
  background-color: #33C451; }
