/* PMA Creator
 * Author: bhuelga
 * -----------------
 */
/* Util
 * Author: bhuelga
 * -----------------
 * Wrapper functions and global Sass variables for all pages
 */
/*   Constants   */
/*   Utility Mixins   */
/*   Colors   */
/*   General   */
* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

main {
  width: 100%;
  max-width: 2560px;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: white; }

canvas {
  max-width: 100%;
  max-height: 100%; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background: #F9F9F9; }
  ::-webkit-scrollbar-thumb {
    background: #666666; }
    ::-webkit-scrollbar-thumb:hover {
      background: #163856; }

.flexbox {
  display: flex; }

.hidden {
  display: none !important; }

.accordion .accordion-header {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  border-bottom: solid 1px #122D46;
  vertical-align: middle;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  transition: 0.3s ; }
  .accordion .accordion-header span {
    margin-left: 5px; }
  .accordion .accordion-header.active {
    background: #122D46; }
  .accordion .accordion-header:hover {
    background: #122D46; }
  .accordion .accordion-header .accordion-icon {
    margin-left: auto;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2); }

.accordion .accordion-content {
  display: none;
  padding: 10px 20px 0 20px;
  color: white;
  background: #2D2D2D;
  border-bottom: solid 1px #122D46; }
  .accordion .accordion-content .accordion-subheader {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0 15px 10px;
    cursor: pointer; }
    .accordion .accordion-content .accordion-subheader i {
      margin-right: 5px; }
    .accordion .accordion-content .accordion-subheader .edit-icon {
      margin-left: auto;
      opacity: 0;
      -webkit-transition: 0.1s ;
      -moz-transition: 0.1s ;
      transition: 0.1s ; }
    .accordion .accordion-content .accordion-subheader:hover span {
      color: #4B9FCB; }
    .accordion .accordion-content .accordion-subheader:hover .edit-icon {
      opacity: 1; }
  .accordion .accordion-content .accordion-subcontent {
    display: none;
    margin: 0 -20px !important;
    padding: 10px 20px;
    background: #666666; }
    .accordion .accordion-content .accordion-subcontent div {
      display: flex;
      align-items: center;
      margin: 10px 10px;
      cursor: pointer;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      .accordion .accordion-content .accordion-subcontent div i {
        margin-right: 5px;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6); }
      .accordion .accordion-content .accordion-subcontent div.active {
        background: #E50015; }
      .accordion .accordion-content .accordion-subcontent div:hover {
        color: #4B9FCB; }

.tooltip {
  position: relative; }
  .tooltip .tooltiptext {
    width: 150px;
    position: absolute;
    z-index: 1;
    padding: 5px;
    visibility: hidden;
    font-size: 1rem;
    color: white !important;
    background: black;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
    .tooltip .tooltiptext:after {
      content: " ";
      position: absolute;
      border-width: 10px;
      border-style: solid; }
    .tooltip .tooltiptext.bottom {
      top: calc(100% + 20px);
      left: 0; }
      .tooltip .tooltiptext.bottom:after {
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
        border-color: transparent transparent black transparent; }
  .tooltip:hover .tooltiptext {
    visibility: visible; }

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  .overlay#nav-overlay {
    z-index: 4; }
  .overlay#edit-overlay {
    z-index: 2; }
  .overlay#mailing-overlay {
    z-index: 2; }
  .overlay#modal-overlay {
    z-index: 2; }

.modal {
  height: 80%;
  width: 70%;
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 3;
  margin-left: -35%;
  background: #163856;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0 0 100px 0 black;
  -moz-box-shadow: 0 0 100px 0 black;
  box-shadow: 0 0 100px 0 black; }
  .modal .modal-header {
    height: 10%;
    text-align: center;
    color: white;
    background: #163856;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px; }
    .modal .modal-header h1 {
      margin: 0;
      padding: 15px; }
  .modal .modal-body {
    height: 65%;
    padding: 10px;
    background: white;
    border-top: 5px solid #122D46;
    border-bottom: 5px solid #122D46;
    border-left: 25px solid #163856;
    border-right: 25px solid #163856; }
  .modal .modal-footer {
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #163856;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px; }
    .modal .modal-footer button {
      margin-bottom: 20px;
      padding: 20px 60px;
      font-family: 'Ubuntu';
      font-size: 1.5rem;
      background: #33C451;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      .modal .modal-footer button:hover {
        background: #6bd882; }
    .modal .modal-footer .button-message {
      padding: 5px 0;
      color: white; }
      .modal .modal-footer .button-message:not(:last-child) {
        border-bottom: 1px solid #4B9FCB; }

#main-content {
  height: 100%;
  width: 100%; }
  #main-content #edit-block {
    width: 100%; }

/*   TOP BAR   */
#top-bar {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 25px 20px;
  color: white;
  background-color: #2D2D2D;
  font-size: 1.6rem;
  -webkit-box-shadow: inset 0px 0px 12px 0 black;
  -moz-box-shadow: inset 0px 0px 12px 0 black;
  box-shadow: inset 0px 0px 12px 0 black;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  transition: 0.3s ; }
  #top-bar .top-column .top-title {
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    color: #2d769c; }
  #top-bar #pma-mq #pma {
    font-weight: lighter; }
  #top-bar #top-areas {
    position: relative; }
    #top-bar #top-areas .top-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      #top-bar #top-areas .top-dropdown:hover {
        color: #4B9FCB;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
      #top-bar #top-areas .top-dropdown:hover i {
        color: #4B9FCB; }
    #top-bar #top-areas .top-dropdown-content {
      min-width: 350px;
      display: none;
      position: absolute;
      top: 130%;
      left: 0;
      z-index: 1;
      background-color: #2D2D2D;
      border: solid 2px black;
      -webkit-box-shadow: 0px 0px 12px 0 #2D2D2D;
      -moz-box-shadow: 0px 0px 12px 0 #2D2D2D;
      box-shadow: 0px 0px 12px 0 #2D2D2D; }
      #top-bar #top-areas .top-dropdown-content:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 0;
        margin-left: -5px;
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent black transparent; }
      #top-bar #top-areas .top-dropdown-content div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 20px;
        font-size: 1.2rem;
        font-weight: bolder;
        color: #E50015;
        cursor: pointer;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
        #top-bar #top-areas .top-dropdown-content div:not(:last-child) {
          border-bottom: solid 2px black; }
        #top-bar #top-areas .top-dropdown-content div.complete {
          color: #33C451; }
        #top-bar #top-areas .top-dropdown-content div .status-container {
          display: inline-block;
          margin-left: auto;
          font-size: 1rem; }
        #top-bar #top-areas .top-dropdown-content div:hover {
          background: black; }
  #top-bar #top-steps #steps {
    display: flex;
    justify-content: center;
    align-items: center; }
    #top-bar #top-steps #steps span .top-step {
      cursor: pointer;
      padding-bottom: 5px;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      #top-bar #top-steps #steps span .top-step.selected {
        color: #4B9FCB;
        border-bottom: 2px solid #4B9FCB; }
      #top-bar #top-steps #steps span .top-step.disabled {
        cursor: default;
        color: gray; }
        #top-bar #top-steps #steps span .top-step.disabled.selected {
          border-bottom: 2px solid gray; }
      #top-bar #top-steps #steps span .top-step:hover:not(.disabled) {
        color: #4B9FCB; }

.complete-banner {
  height: 60px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 1.5rem;
  background: #33C451;
  border-bottom: 1px solid #289c40; }
  .complete-banner span, .complete-banner strong {
    margin: 40px; }
  .complete-banner .complete-message {
    display: none; }
  .complete-banner .incomplete-message {
    display: none; }
  .complete-banner div {
    text-align: center; }
    .complete-banner div .step-link {
      display: inline-block;
      color: #163856;
      font-weight: bold;
      cursor: pointer;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      .complete-banner div .step-link:hover, .complete-banner div .step-link :focus {
        color: #122D46; }

/*   MAIN WINDOW   */
#main-window {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  background: #F9F9F9;
  -webkit-box-shadow: inset 0 0 15px 0 #2D2D2D;
  -moz-box-shadow: inset 0 0 15px 0 #2D2D2D;
  box-shadow: inset 0 0 15px 0 #2D2D2D; }
  #main-window .sub-window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0; }
    #main-window .sub-window .spread {
      background: white;
      -webkit-box-shadow: 0 0 15px 0 #2D2D2D;
      -moz-box-shadow: 0 0 15px 0 #2D2D2D;
      box-shadow: 0 0 15px 0 #2D2D2D; }
      #main-window .sub-window .spread .divider {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .4;
        border-right: 2px dashed gray; }

#edit-window .edit-spread {
  position: relative;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  transition: 0.3s ; }
  #edit-window .edit-spread .page-title {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    transform: rotate(-90deg); }
    #edit-window .edit-spread .page-title#front-page-title {
      left: -6%; }
    #edit-window .edit-spread .page-title#back-page-title {
      left: 98%; }
    #edit-window .edit-spread .page-title#inside-left-title {
      left: -8%; }
    #edit-window .edit-spread .page-title#inside-right-title {
      left: 95%; }
  #edit-window .edit-spread .section-tools {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    outline-width: 6px;
    outline-style: solid;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.1s ;
    -moz-transition: 0.1s ;
    transition: 0.1s ; }
    #edit-window .edit-spread .section-tools.active {
      z-index: 3;
      outline-color: #b20010;
      outline-width: 10px; }
    #edit-window .edit-spread .section-tools:hover {
      outline-color: #b20010;
      outline-width: 10px; }
    #edit-window .edit-spread .section-tools.complete {
      outline: 6px solid #33C451; }
      #edit-window .edit-spread .section-tools.complete.active {
        outline-color: #289c40;
        outline-width: 10px; }
      #edit-window .edit-spread .section-tools.complete:hover {
        outline-color: #289c40;
        outline-width: 10px; }
    #edit-window .edit-spread .section-tools .complete-btn {
      height: 35px;
      width: 300px;
      display: none;
      position: absolute;
      font-family: 'Ubuntu';
      font-size: 1.5rem;
      border: none;
      background: #33C451;
      cursor: pointer;
      -webkit-box-shadow: 0 0 6px 0 #2D2D2D;
      -moz-box-shadow: 0 0 6px 0 #2D2D2D;
      box-shadow: 0 0 6px 0 #2D2D2D;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      #edit-window .edit-spread .section-tools .complete-btn:hover {
        background: #57d371; }
      #edit-window .edit-spread .section-tools .complete-btn:focus {
        outline: 0; }
    #edit-window .edit-spread .section-tools .edit-tools {
      height: 600px;
      width: 300px;
      position: absolute;
      top: 0;
      left: 100%;
      padding: 10px;
      display: none;
      overflow-y: hidden;
      color: white;
      background: #2D2D2D;
      text-align: center;
      -webkit-box-shadow: 0 0 6px 0 #2D2D2D;
      -moz-box-shadow: 0 0 6px 0 #2D2D2D;
      box-shadow: 0 0 6px 0 #2D2D2D; }
      #edit-window .edit-spread .section-tools .edit-tools h2 {
        height: 7.5%;
        margin: 0; }
      #edit-window .edit-spread .section-tools .edit-tools .edit-content {
        height: 92.5%;
        overflow-x: hidden;
        overflow-y: auto; }
        #edit-window .edit-spread .section-tools .edit-tools .edit-content img {
          height: 200px;
          width: 300px;
          cursor: pointer; }

#mailing-window #mailing-list {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  overflow-x: scroll; }
  #mailing-window #mailing-list div {
    display: inline-block;
    margin: 0px;
    color: #2D2D2D; }
    #mailing-window #mailing-list div h2 {
      min-height: 50px;
      margin: 0;
      padding: 10px;
      background: #122D46;
      border-bottom: 1px solid #163856; }
  #mailing-window #mailing-list #edit-bar {
    width: 15%;
    white-space: normal;
    text-align: center;
    border-right: 1px solid #163856; }
    #mailing-window #mailing-list #edit-bar h3 {
      min-height: 48px;
      margin: 0;
      padding: 12px;
      color: white;
      background: #122D46; }
    #mailing-window #mailing-list #edit-bar ul {
      margin: 0 5px;
      padding: 0 5px;
      list-style: none; }
      #mailing-window #mailing-list #edit-bar ul li {
        margin: 0 -10px;
        padding: 7px 10px;
        font-size: 1.1rem;
        cursor: pointer;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
        #mailing-window #mailing-list #edit-bar ul li.active {
          background: #4B9FCB; }
        #mailing-window #mailing-list #edit-bar ul li:not(:last-child) {
          border-bottom: 2px solid #4B9FCB; }
        #mailing-window #mailing-list #edit-bar ul li:hover {
          background: #4B9FCB; }
    #mailing-window #mailing-list #edit-bar #past-clients {
      width: 90%;
      margin: 10px 0;
      text-align: center;
      cursor: pointer;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 8px 0 #2D2D2D;
      -moz-box-shadow: 0 0 8px 0 #2D2D2D;
      box-shadow: 0 0 8px 0 #2D2D2D;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      #mailing-window #mailing-list #edit-bar #past-clients h3 {
        color: #163856;
        background: #57d371;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
        #mailing-window #mailing-list #edit-bar #past-clients h3:hover {
          color: #20527f; }
  #mailing-window #mailing-list #homeowners {
    width: 70%;
    max-height: 80%; }
    #mailing-window #mailing-list #homeowners #search-bar {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 10px;
      color: white;
      background: #122D46;
      border-bottom: 1px solid #163856;
      font-size: 1.2rem; }
      #mailing-window #mailing-list #homeowners #search-bar .search {
        width: 30%;
        margin-left: 10px;
        padding: 5px;
        border: 1px solid #4B9FCB;
        font-family: 'Ubuntu';
        font-size: 1.1rem;
        text-align: center;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 3px 0 #4B9FCB;
        -moz-box-shadow: inset 0 0 3px 0 #4B9FCB;
        box-shadow: inset 0 0 3px 0 #4B9FCB; }
      #mailing-window #mailing-list #homeowners #search-bar button {
        display: inline-flex;
        align-items: center;
        padding: 5px 20px;
        color: #F9F9F9;
        background: inherit;
        border: none;
        font-family: 'Ubuntu';
        font-size: 1.2rem;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
        #mailing-window #mailing-list #homeowners #search-bar button span {
          margin-left: 5px; }
        #mailing-window #mailing-list #homeowners #search-bar button:hover {
          color: #4B9FCB; }
        #mailing-window #mailing-list #homeowners #search-bar button:focus {
          outline: 0; }
    #mailing-window #mailing-list #homeowners table {
      width: 100%;
      font-size: 1.1rem;
      border-collapse: collapse;
      overflow: scroll;
      table-layout: fixed; }
      #mailing-window #mailing-list #homeowners table thead {
        background: #122D46; }
        #mailing-window #mailing-list #homeowners table thead button {
          display: inline-flex;
          align-items: center;
          padding: 5px 20px;
          color: #F9F9F9;
          background: inherit;
          border: none;
          font-family: 'Ubuntu';
          font-size: 1rem;
          overflow: hidden;
          cursor: pointer;
          -webkit-transition: 0.3s ;
          -moz-transition: 0.3s ;
          transition: 0.3s ; }
          #mailing-window #mailing-list #homeowners table thead button:hover {
            color: #4B9FCB; }
          #mailing-window #mailing-list #homeowners table thead button:focus {
            outline: 0; }
      #mailing-window #mailing-list #homeowners table tr .blocked-container {
        height: 60px;
        width: 60px; }
      #mailing-window #mailing-list #homeowners table tr.disabled {
        background: #CCCCCC;
        filter: brightness(0.7); }
        #mailing-window #mailing-list #homeowners table tr.disabled:active {
          pointer-events: none; }
          #mailing-window #mailing-list #homeowners table tr.disabled:active .checkmark {
            pointer-events: none; }
      #mailing-window #mailing-list #homeowners table tr.blocked {
        background: white; }
      #mailing-window #mailing-list #homeowners table tr.client {
        background: #33C451; }
      #mailing-window #mailing-list #homeowners table tr td {
        position: relative;
        padding: 0 10px;
        overflow: hidden;
        border: 1px solid #163856; }
        #mailing-window #mailing-list #homeowners table tr td .check-container input {
          position: absolute;
          opacity: 0; }
          #mailing-window #mailing-list #homeowners table tr td .check-container input:checked ~ .checkmark {
            background: #FF3A38; }
            #mailing-window #mailing-list #homeowners table tr td .check-container input:checked ~ .checkmark:after {
              display: block; }
        #mailing-window #mailing-list #homeowners table tr td .check-container .checkmark {
          height: 30px;
          width: 30px;
          position: absolute;
          top: 15px;
          left: 5px;
          cursor: pointer;
          background: white;
          border: 1px solid #CCCCCC;
          -webkit-transition: 0.3s ;
          -moz-transition: 0.3s ;
          transition: 0.3s ; }
          #mailing-window #mailing-list #homeowners table tr td .check-container .checkmark i {
            position: absolute;
            top: 10%;
            left: 5%;
            color: white; }
        #mailing-window #mailing-list #homeowners table tr td .check-container .blocked {
          position: absolute;
          top: 20px;
          left: 45px; }
        #mailing-window #mailing-list #homeowners table tr td .check-container:hover input:not(:checked) ~ .checkmark {
          background: #F9F9F9; }
  #mailing-window #mailing-list #price-bar {
    width: 15%;
    color: #2D2D2D;
    text-align: center;
    border-left: 1px solid #163856; }
    #mailing-window #mailing-list #price-bar h3 {
      min-height: 48px;
      margin: 0;
      padding: 12px;
      color: white;
      background: #122D46; }
    #mailing-window #mailing-list #price-bar ul {
      margin: 0 5px;
      padding: 0 5px;
      list-style: none; }
      #mailing-window #mailing-list #price-bar ul h4 {
        margin: 10px 0 5px 0;
        color: #163856; }
      #mailing-window #mailing-list #price-bar ul li {
        margin: 0 -10px;
        padding: 7px 5px;
        font-size: 1.1rem;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
        #mailing-window #mailing-list #price-bar ul li.active {
          background: #4B9FCB; }
        #mailing-window #mailing-list #price-bar ul li:not(:last-child) {
          border-bottom: 2px solid #4B9FCB; }
    #mailing-window #mailing-list #price-bar #approve-list {
      width: 90%;
      display: inline-flex;
      align-items: center;
      padding: 5px 0;
      color: #163856;
      background: #33C451;
      border: none;
      font-family: 'Ubuntu';
      font-size: 1.05rem;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      -webkit-box-shadow: 0 0 16px 0 #2D2D2D;
      -moz-box-shadow: 0 0 16px 0 #2D2D2D;
      box-shadow: 0 0 16px 0 #2D2D2D;
      -webkit-transition: 0.1s ;
      -moz-transition: 0.1s ;
      transition: 0.1s ;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px; }
      #mailing-window #mailing-list #price-bar #approve-list strong {
        margin: auto; }
      #mailing-window #mailing-list #price-bar #approve-list:focus {
        outline: 0; }
      #mailing-window #mailing-list #price-bar #approve-list:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);
        color: #20527f; }

#choose-reason {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: #2D2D2D;
  background: white;
  -webkit-box-shadow: 0 0 40px 0 black;
  -moz-box-shadow: 0 0 40px 0 black;
  box-shadow: 0 0 40px 0 black; }
  #choose-reason h4, #choose-reason h5 {
    margin: 0;
    padding: 10px; }
    #choose-reason h4:not(:last-child), #choose-reason h5:not(:last-child) {
      border-bottom: 1px solid #4B9FCB; }
  #choose-reason h4 {
    color: #FF3A38;
    font-size: 1.6rem; }
  #choose-reason h5 {
    font-size: 1.4rem;
    cursor: pointer;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    transition: 0.3s ; }
    #choose-reason h5:hover {
      background: #e0e0e0; }
  #choose-reason:after {
    content: " ";
    position: absolute;
    top: 21%;
    left: 0;
    margin-left: -14px;
    border-color: transparent transparent transparent white;
    border-width: 7px;
    border-style: solid;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

#preview-window #incomplete-preview-message {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  color: white;
  background: #2D2D2D; }
  #preview-window #incomplete-preview-message p {
    margin: 0; }

#preview-window #complete-final-preview {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap; }
  #preview-window #complete-final-preview .preview-spread {
    height: 10%;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #F9F9F9;
    overflow: visible;
    -webkit-box-shadow: 0 0 8px 0 #2D2D2D;
    -moz-box-shadow: 0 0 8px 0 #2D2D2D;
    box-shadow: 0 0 8px 0 #2D2D2D; }
    #preview-window #complete-final-preview .preview-spread div {
      height: 100%;
      width: 70%;
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
      color: white;
      overflow: hidden;
      -webkit-transition: 0.3s ;
      -moz-transition: 0.3s ;
      transition: 0.3s ; }
      #preview-window #complete-final-preview .preview-spread div.preview-image {
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      #preview-window #complete-final-preview .preview-spread div.preview-section-options {
        width: 30%;
        background: #2D2D2D;
        -webkit-box-shadow: 0 0 40px 0 #2D2D2D;
        -moz-box-shadow: 0 0 40px 0 #2D2D2D;
        box-shadow: 0 0 40px 0 #2D2D2D; }
      #preview-window #complete-final-preview .preview-spread div h1 {
        margin: 20px 0; }
      #preview-window #complete-final-preview .preview-spread div button {
        font-family: 'Ubuntu';
        font-size: 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        -webkit-transition: 0.3s ;
        -moz-transition: 0.3s ;
        transition: 0.3s ; }
        #preview-window #complete-final-preview .preview-spread div button.confirm {
          padding: 50px 60px;
          color: #122D46;
          background: #33C451; }
          #preview-window #complete-final-preview .preview-spread div button.confirm:hover, #preview-window #complete-final-preview .preview-spread div button.confirm :focus {
            background: #289c40; }
        #preview-window #complete-final-preview .preview-spread div button.back-to-edit {
          margin-top: 10px;
          padding: 20px;
          color: #122D46;
          background: #C47F15; }
          #preview-window #complete-final-preview .preview-spread div button.back-to-edit:hover, #preview-window #complete-final-preview .preview-spread div button.back-to-edit :focus {
            background: #966110; }
      #preview-window #complete-final-preview .preview-spread div .click-to-enlarge {
        margin-top: auto;
        margin-bottom: 5px;
        font-size: 1.2rem; }
    #preview-window #complete-final-preview .preview-spread.confirmed div {
      color: #2D2D2D; }
      #preview-window #complete-final-preview .preview-spread.confirmed div.preview-section-options {
        background: #7fde93; }
  #preview-window #complete-final-preview #open-final-modal {
    height: 2.5%;
    width: 50%;
    font-family: 'Ubuntu';
    font-size: 2rem;
    color: #122D46;
    background: #33C451;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    transition: 0.3s ; }
    #preview-window #complete-final-preview #open-final-modal.disabled {
      cursor: initial;
      pointer-events: none;
      background: #666666; }
    #preview-window #complete-final-preview #open-final-modal:hover {
      background: #57d371;
      border: 3px solid #2D2D2D; }

#preview-image {
  height: 80%;
  width: 70%;
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 3;
  margin-left: -35%; }
  #preview-image .pi {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow: 0 0 100px 0 black;
    -moz-box-shadow: 0 0 100px 0 black;
    box-shadow: 0 0 100px 0 black; }
  #preview-image .close-modal-btn {
    height: 48px;
    width: 48px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    transition: 0.3s ; }
    #preview-image .close-modal-btn:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1); }

#final-preview-modal .modal-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  #final-preview-modal .modal-body #charge-per-area h2 {
    text-align: center;
    color: #163856; }
  #final-preview-modal .modal-body #charge-per-area div {
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid #163856; }
  #final-preview-modal .modal-body #total-charge {
    margin: 20px 0; }
    #final-preview-modal .modal-body #total-charge h2 {
      margin: 20px 0 5px 0;
      font-size: 2rem;
      text-align: center;
      color: #163856; }
    #final-preview-modal .modal-body #total-charge div {
      padding: 10px;
      font-size: 1.5rem;
      border-bottom: 2px solid #163856; }

@media screen and (max-width: 1200px) {
  #top-bar {
    font-size: 1.3rem; } }

@media screen and (max-width: 1020px) {
  #top-bar {
    font-size: 1rem; } }

@media screen and (max-width: 800px) {
  #top-bar {
    font-size: .9rem; } }

@media screen and (max-width: 700px) {
  #top-bar {
    flex-flow: column nowrap;
    font-size: 1.2rem;
    padding: 10px; }
    #top-bar .top-column {
      width: 90%;
      margin: 5px 0; }
      #top-bar .top-column:not(:last-child) {
        padding-bottom: 10px;
        border-bottom: 1px solid #4B9FCB; } }

@media screen and (max-width: 450px) {
  #top-bar {
    font-size: .8rem; } }
