/* PMA Creator
 * Author: bhuelga
 * -----------------
 */

@import "./util.scss";

#main-content {
	height: 100%;
	width: 100%;

	& #edit-block {
		width: 100%;
	}
}

/*   TOP BAR   */

#top-bar {
	height: auto;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 25px 20px;

	color: $white;
	background-color: $black;
	font-size: 1.6rem;
	@include box-shadow(0px, 0px, 12px, black, true);

	& #pma-mq {
		text-align: center;

		& #mq { 
			font-size: 1.5rem;
			color: $one-cyan; 
		}

		& #pma { color: white; }
	}

	& #top-areas {
		position: relative;
		padding: 1px 0;

		& .top-dropdown {
			display: flex;
			align-items: center;

			cursor: pointer;

			&:hover { 
				color: $one-cyan; 
				@include transition($transition-speed);
			};

			&:hover i { color: $one-cyan;};
		}

		& .insert-current-step {
			text-align: center;
			font-size: 1.3rem;
		}

		& .top-dropdown-content {
			min-width: 350px;
			display: none;
			position: absolute;
			top: 110%;
			left: 0;
			z-index: 1;

			font-size: 1.1rem;
			background-color: $black;
			border: solid 1px white;

			@include box-shadow(0px, 0px, 12px, $black);

			&:after { 
				content: " ";
			    position: absolute;
			    bottom: 100%;
			    left: 72.5%;
			    margin-left: -5px;
			    border-width: 12px;
			    border-style: solid;
			    border-color: transparent transparent white transparent;
			}

			& div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				padding: 20px;

			    color: $white;
			    cursor: pointer;
			    border-right: solid 1px $white;
			    border-bottom: solid 1px $white;
			    @include transition($transition-speed);

			    & .status-container {
			    	display: inline-block;
			    	margin-left: auto;
			    }

			    &:hover { background: $one-cyan; }

			    &:not(:last-child) {  }
			}
		}
	}

	& #top-steps {
		display: flex;
		align-items: center;

		& * { @include transition($transition-speed); }

		& span {
			cursor: pointer;
			padding-bottom: 5px;

			&.disabled {
				cursor: default !important;
				color: gray !important;

				&:active {
					pointer-events: none;
				}
			}

			&:hover { color: $one-cyan; }
		}

		& .selected { 
			color: $one-cyan; 
			border-bottom: 2px solid $one-cyan;
		}
	}
}

@media screen and (max-width : 1400px) {
	#top-bar {
		font-size: 1.5rem;
	}
}

@media screen and (max-width : 1200px) {
	#top-bar {
		padding: 10px 20px;
		font-size: 1.3rem;
	}
}

@media screen and (max-width : 1020px) {
	#top-bar {
		padding: 5px 20px;
		font-size: 1.1rem;
	}
}

@media screen and (max-width : 875px) {
	#top-bar {
		flex-flow: column nowrap;
		& div { margin: 0; }
	}
}


/*   MAIN WINDOW   */

#main-window {
	height: auto;
	width: 100%;

	overflow: hidden;
	background: $offwhite;
	@include box-shadow(0, 0, 15px, $black, true);

	& .sub-window {
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding: 20px 0;

		& .spread {
			background: $white;
			@include box-shadow(0, 0, 15px, $black, false);
		}
	}
}

#edit-window {													// EDIT WINDOW								

	& .edit-spread {
		position: relative;
		@include transition($transition-speed);

		& .page-title {
			position: absolute;
			top: 50%;

			font-size: 1.5rem;
			font-weight: bold;
			white-space: nowrap;
			transform: rotate(-90deg);

			&#front-page-title { left: -6%; }
			&#back-page-title { left: 98%; }
			&#inside-left-title { left: -8%; }
			&#inside-right-title { left: 95%; }
		}

		& .section-overlay {										// EDIT SECTION
			height: 100%;
			width: 100%;
			position: absolute;
			outline: 5px solid $gray;
			cursor: pointer;

			@include transition($transition-speed);

			& .complete-btn {
				height: 35px;
				width: 300px;
				display: none; 	
				position: absolute;

				font-family: 'Ubuntu';
				font-size: 1.5rem;
				border: none;
				background: $complete;
				cursor: pointer;
				@include box-shadow(0, 0, 6px, $black);
				@include transition($transition-speed);

				&:hover { background: lighten($complete, 10%); }
				&:focus { outline: 0; }
			}

			&.complete { outline: 5px solid $complete; }

			// edit tools		
			& .edit-overlay {
				height: 600px;
				width: 300px;
				position: absolute;
				top: 0;
				left: 100%;
				z-index: 1;
				padding: 10px;
				display: none;
				overflow-y: hidden;

				color: white;
				background: $black;
				text-align: center;
				@include box-shadow(0, 0, 6px, $black);

				& h2 {
					height: 7.5%;
					margin: 0;
				}

				& .overlay-content {
					height: 92.5%;
					overflow-x: hidden;
					overflow-y: auto;

					& img {
						height: 200px;
						width: 300px;
						cursor: pointer;
					}
				}
			}

			// &:hover .edit-overlay { display: initial; }

			// &:hover .complete-btn { display: initial; }
		}
	}
}

#mailing-window {													// MAILING WINDOW

	& #mailing-list {												// MAILING LIST
		height: 100%;
		width: 90%;
		display: flex;
		justify-content: space-between;
		padding: 0px;
		overflow-x: scroll;

		& div {
			display: inline-block;
			margin: 0px;

			color: $black;

			& h2 {
				min-height: 50px;
				margin: 0;
				padding: 10px;

				background: $two-blue-dark;
				border-bottom: 1px solid $two-blue;
			}
		}

		& #edit-bar {
			width: 15%;
			white-space: normal;
			text-align: center;
			border-right: 1px solid $two-blue;

			& h3 {
				min-height: 48px;
				margin: 0;
				padding: 12px;
				color: white;
				background: $two-blue-dark;
			}

			& ul {
				margin: 0 5px;
				padding: 0 5px;
				list-style: none;

				& li {
					margin: 0 -10px;
					padding: 7px 10px;

					font-size: 1.1rem;
					cursor: pointer;
					@include transition($transition-speed);
					&.active { background: $one-cyan; }

					&:not(:last-child) { border-bottom: 2px solid $one-cyan; }
					&:hover { background: $one-cyan; }
				}
			}

			& #past-clients {
				width: 90%;
				margin: 10px 0;

				text-align: center;
				cursor: pointer;
				@include border-radius(10px);
				@include box-shadow(0, 0, 8px, $black);
				@include transition($transition-speed);

				& h3 {
					color: $two-blue; 
					background: lighten($five-green, 10%);
					@include border-radius(10px);
					&:hover { color: lighten($two-blue, 10%); } 
				}
			}
		}

		& #homeowners {
			width: 70%;
			max-height: 80%;

			& #search-bar {
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				padding: 10px;

				color: white;
				background: $two-blue-dark;
				border-bottom: 1px solid $two-blue;
				font-size: 1.2rem;

				& .search {
					width: 30%;
					margin-left: 10px;
					padding: 5px;
					border: 1px solid $one-cyan;
					font-family: 'Ubuntu';
					font-size: 1.1rem;
					text-align: center;
					@include border-radius(10px);
					@include box-shadow(0, 0, 3px, $one-cyan, true);
				}

				& button {
					display: inline-flex;
					align-items: center;
					padding: 5px 20px;

				  	color: $offwhite;
				  	background: inherit;
				  	border: none;
				  	font-family: 'Ubuntu';
				  	font-size: 1.2rem;
				  	overflow: hidden;
				  	cursor: pointer;
				  	@include transition($transition-speed);

				  	& span { margin-left: 5px; }
				  	&:hover { color: $one-cyan; }
				  	&:focus { outline: 0; }
				}

			}

			& table {
				width: 100%;
				font-size: 1.1rem;
				border-collapse: collapse;
				overflow: scroll;
				table-layout: fixed;

				& thead {
					background: $two-blue-dark;

					& button {
						display: inline-flex;
						align-items: center;
						padding: 5px 20px;

					  	color: $offwhite;
					  	background: inherit;
					  	border: none;
					  	font-family: 'Ubuntu';
					  	font-size: 1rem;
					  	overflow: hidden;
					  	cursor: pointer;
					  	@include transition($transition-speed);

					  	&:hover { color: $one-cyan; }
					  	&:focus { outline: 0; }
					}
				}

				& tr {

					& .blocked-container { 
						height: 60px; 
						width: 60px;
					}

					&.disabled {
						background: $light-gray;
						filter: brightness(.7);
						&:active { 
							pointer-events: none; 
							& .checkmark { pointer-events: none; }
						}
					}

					&.blocked { background: $white; }
					&.client { background: $five-green; }

				  	& td {
				  		position: relative;
				  		padding: 0 10px;
				  		overflow: hidden;

				  		border: 1px solid $two-blue;

						& .check-container { 

							& input {
								position: absolute;

								opacity: 0;
								&:checked ~ .checkmark { 
									background: $three-red; 
									&:after { display: block; }
								}
							}

							& .checkmark {
								height: 30px;
								width: 30px;
								position: absolute;
								top: 15px;
								left: 5px;

								cursor: pointer;
								background: white;
								border: 1px solid $light-gray;
								@include transition($transition-speed);

								& i {
									position: absolute;
									top: 10%;
									left: 5%;
									color: white;
								}
							}

							& .blocked {
								position: absolute;
								top: 20px;
								left: 45px;
							}

							&:hover input:not(:checked) ~ .checkmark { background: $offwhite; }
						}			  		
				  	}
				}
			}
		}
		

		& #price-bar {
			width: 15%;
			color: $black;

			text-align: center;
			border-left: 1px solid $two-blue;

			& h3 {
				min-height: 48px;
				margin: 0;
				padding: 12px;
				color: white;
				background: $two-blue-dark;
			}

			& ul {
				margin: 0 5px;
				padding: 0 5px;
				list-style: none;

				& h4 {
					margin: 10px 0 5px 0;
					color: $two-blue;
				}

				& li {
					margin: 0 -10px;
					padding: 7px 5px;

					font-size: 1.1rem;
					@include transition($transition-speed);
					&.active { background: $one-cyan; }

					&:not(:last-child) { border-bottom: 2px solid $one-cyan; }
				}
			}

			& #approve-list {
				width: 90%;
				display: inline-flex;
				align-items: center;
				padding: 5px 0;

			  	color: $two-blue;
			  	background: $five-green;
			  	border: none;
			  	font-family: 'Ubuntu';
			  	font-size: 1.05rem;
			  	text-align: center;
			  	overflow: hidden;
			  	cursor: pointer;
			  	@include box-shadow(0, 0, 16px, $black);
			  	@include transition($transition-speed-fast);
			  	@include border-radius(15px);

			  	& strong { margin: auto; }
			  	&:focus { outline: 0; }

			  	&:hover { 
			  		@include scale(1.05);
			  		color: lighten($two-blue, 10%); 
			  	}
			}
		}
	}
}

#choose-reason {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 5px;
	z-index: 5;

	color: $black;
	background: white;
	@include box-shadow(0, 0, 4px, $black, true);

	& * { 
		margin: 0 -5px; 
		padding: 5px;
		&:not(:last-child) { border-bottom: 1px solid $one-cyan; }
	}

	& h4 { color: $three-red; }
	& h5 {
		cursor: pointer;
		&:hover { background: $one-cyan; }
	}
}

#preview-window {

	& #incomplete-preview-message {
		height: 100%;
		width: 90%;
		display: flex;
		align-items: center;

		font-size: 4rem;
		text-align: center;
		color: white;
		background: $black;
		& p { margin: 0; }
	}

	& #complete-final-preview {
		height: 100%;
		width: 90%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-flow: column nowrap;

		& .preview-spread {
			height: 10%;
			width: 90%;
			position: relative;
			display: flex;
			justify-content: center;
			padding: 20px;

			background: $offwhite;
			overflow: visible;
			@include box-shadow(0, 0, 8px, $black, false);

			& div {
				height: 100%;
				width: 70%;
				display: inline-flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				padding: 20px;
				text-align: center;
				overflow: hidden;

				&.preview-image {					
					cursor: pointer;
					background-size : contain;
					background-repeat : no-repeat;
					background-position : center;
				}

				&.preview-section-options { 
					width: 30%;
					padding: 0;
					background: $black;
					@include box-shadow(0, 0, 40px, $black, false);
				}

				& .time-confirmed {
					color: white;
				}

				& h1 {
					margin: 20px 0;
					display: block;
					color: white; 
					@include transition($transition-speed-fast);
				}

				& button { 
					font-family: 'Ubuntu';
					font-size: 2rem;
					border: none;
					outline: none;
					cursor: pointer;
					@include transition($transition-speed);

					&.confirm {
						padding: 50px;
						color: $two-blue-dark; 
						background: $five-green;

						&:hover {
							background: lighten($five-green, 10%);
						}
					}

					&.back-to-edit {
						margin-top: 10px;
						padding: 10px;

						color: $two-blue-dark; 
						background: $four-orange;
						&:hover {
							background: darken($four-orange, 10%);
						}
					}
				}

				& .click-to-enlarge {
					margin-top: auto;
					margin-bottom: 5px;
					font-size: 1.2rem;
					color: white;
				}

			}
		}

		& #open-final-modal {
			height: 2.5%;
			width: 50%;
			font-family: 'Ubuntu';
			font-size: 2rem;
			color: $two-blue-dark; 
			background: $five-green;
			border: none;
			outline: none;
			cursor: pointer;
			@include transition($transition-speed);

			&.disabled {
				cursor: initial;
				pointer-events: none;
				background: $gray;
			}

			&:hover {
				background: lighten($five-green, 10%);
				border: 3px solid $black;
			}
		}
	}
}

#preview-image {
	height: 80%;
	width: 70%;
	display: none;
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 3;
	margin-left: -35%;

	& .pi {
		position: absolute;
		top: 0;
		right: 0;
		@include box-shadow(0, 0, 100px, black, false);
	}

	& .close-modal-btn {
		height: 48px;
		width: 48px;
		position: absolute;
		top: -10px;
		right: -10px;

		cursor: pointer;
		@include transition($transition-speed);
		&:hover { @include scale(1.1); }
	}
}

#final-preview-modal {

	& .modal-body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		& #charge-per-area {

			& h2 {
				text-align: center;
				color: $two-blue;
			}

			& div {
				padding: 10px;
				font-size: 1.5rem;
				border-bottom: 2px solid $two-blue;

			}
		}

		& #total-charge {
			margin: 20px 0;

			& h2 {
				margin: 20px 0 5px 0;
				font-size: 2rem;
				text-align: center;
				color: $two-blue;
			}

			& div {
				padding: 10px;
				font-size: 1.5rem;
				border-bottom: 2px solid $two-blue;
			}
		}
	}
}