/* PMA Creator
 * Author: bhuelga
 * -----------------
 */

@import "./util.scss";

#main-content {
	height: 100%;
	width: 100%;

	& #edit-block {
		width: 100%;
	}
}

/*   TOP BAR   */

#top-bar {
	height: auto;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;

	color: $white;
	background-color: $black;
	font-size: 1.6rem;

	& div { margin: 5px 0; }

	& #pma-mq {
		color: $white;

		& span { color: $one-cyan; }
	}

	& #top-areas {
		position: relative;
		padding: 1px 0;

		& .top-dropdown {
			display: flex;
			align-items: center;

			cursor: pointer;
			@include transition($transition-speed);

			&:hover span { color: $one-cyan; };
			&:hover i { color: $one-cyan;};
		}

		& .top-dropdown-content {
			min-width: 250px;
			position: absolute;
			top: 150%;
			left: 25%;
			z-index: 1;

			background-color: $black;
			@include box-shadow(0px, 2px, 4px, $black);

			& a {
				display: block;
				padding: 10px 10px;

			    color: $white;
			    background: $black;
			    text-decoration: none;
			    border-top: solid 1px $white;

			    &:hover { color: $one-cyan; }

			    &:not(:last-child) { border-bottom: solid 1px $white; }
			}
		}
	}

	& #top-steps {
		display: flex;
		align-items: center;

		& * { @include transition($transition-speed); }

		& span {
			cursor: pointer;

			&.disabled {
				cursor: default !important;
				color: gray !important;

				&:active {
					pointer-events: none;
				}
			}

			&:hover { color: $one-cyan; }
		}

		& .selected { color: $one-cyan; }
	}
}

@media screen and (max-width : 1400px) {
	#top-bar {
		font-size: 1.5rem;
	}
}

@media screen and (max-width : 1200px) {
	#top-bar {
		padding: 10px 20px;
		font-size: 1.3rem;
	}
}

@media screen and (max-width : 1020px) {
	#top-bar {
		padding: 5px 20px;
		font-size: 1.1rem;
	}
}

@media screen and (max-width : 875px) {
	#top-bar {
		flex-flow: column nowrap;
		& div { margin: 0; }
	}
}


/*   MAIN WINDOW   */

#main-window {
	height: 2100px;
	width: 100%;

	overflow: hidden;
	background: $offwhite;
	@include box-shadow(0, 0, 15px, $black, true);

	& .sub-window {
		height: 100%;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;

		& .spread {
			background: $white;
			@include box-shadow(0, 0, 15px, $black, false);
		}
	}
}

#edit-window {													// EDIT WINDOW								

	& .edit-spread {
		position: relative;

		& .page-title {
			position: absolute;
			top: 50%;

			font-size: 1.5rem;
			font-weight: bold;
			white-space: nowrap;
			transform: rotate(-90deg);

			&#front-page-title { left: -6%; }
			&#back-page-title { left: 98%; }
			&#inside-left-title { left: -8%; }
			&#inside-right-title { left: 95%; }
		}

		& .overlay {										// EDIT SECTION
			height: 100%;
			width: 100%;
			position: absolute;

			@include transition($transition-speed);

			// transparent overlay
			&:after{
			    content:'';
			    background: $incomplete;
			    width:100%;
			    height:100%;
			    position:absolute;
			    top:0;
			    left:0;
			    opacity:0.05;
			    @include transition($transition-speed);
			}

			// edit tools		
			& .edit-overlay {
				height: 500px;
				width: 300px;
				position: absolute;
				top: 0;
				left: 100%;
				z-index: 1;
				padding: 10px;
				display: none;

				overflow-x: hidden;
				overflow-y: scroll;
				color: white;
				background: $black;
				text-align: center;
				@include box-shadow(0, 0, 6px, $black);

				// arrow
				&:after {
					content: ' ';
					position: absolute;
					border-width: 5px;
				    border-style: solid;
				    border-color: black transparent transparent transparent; 
				}

				& .complete {
					height: 35px;
					width: 300px;
					position: absolute;

					background: $complete;
				}

				& h2 {
					margin: 0;
				}

				& .overlay-content {
					margin: 10px 5px;
					& img {
						height: 200px;
						width: 300px;
					}
				}
			}

			&:hover::after { opacity: .5; }

			&:hover .edit-overlay {
				display: initial;
			}

			&:hover .switch { display: initial; }
		}
	}
}

@media screen and (max-width: 1800px) {
	.edit-spread {
		@include scale(.8);
	}
}

#mailing-window {													// MAILING WINDOW

	& #mailing-list {												// MAILING LIST
		height: 90%;
		width: 90%;
		display: flex;
		justify-content: space-between;
		padding: 0px;
		overflow-x: scroll;

		& div {
			display: inline-block;
			margin: 0px;

			color: $black;

			& h2 {
				min-height: 50px;
				margin: 0;
				padding: 10px;

				color: white !important;
				background: $two-blue-dark;
				border-bottom: 1px solid $two-blue-dark;
			}
		}

		& #edit-bar {
			width: 15%;
			white-space: normal;
			text-align: center;

			& h3 {
				min-height: 48px;
				margin: 0;
				padding: 12px;
				color: white;
				background: $two-blue-dark;
			}

			& ul {
				margin: 0 5px;
				padding: 0 5px;
				list-style: none;

				& li {
					margin: 0 -10px;
					padding: 7px 10px;

					font-size: 1.1rem;
					cursor: pointer;
					@include transition($transition-speed);
					&.active { background: $one-cyan; }

					&:not(:last-child) { border-bottom: 2px solid $one-cyan; }
					&:hover { background: $one-cyan; }
				}
			}

			& #past-clients {
				width: 90%;
				margin: 10px 0;

				text-align: center;
				cursor: pointer;
				@include border-radius(10px);
				@include box-shadow(0, 0, 8px, $black);
				@include transition($transition-speed);

				& h3 {
					color: $two-blue; 
					background: lighten($five-green, 10%);
					@include border-radius(10px);
					&:hover { color: lighten($two-blue, 10%); } 
				}
			}
		}

		& #homeowners {
			width: 70%;
			max-height: 80%;

			& #search-bar {
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				padding: 10px;

				color: white;
				background: $two-blue-dark;
				font-size: 1.2rem;

				& .search {
					width: 30%;
					margin-left: 10px;
					padding: 5px;
					border: 1px solid $one-cyan;
					font-family: 'Ubuntu';
					font-size: 1.1rem;
					text-align: center;
					@include border-radius(10px);
					@include box-shadow(0, 0, 3px, $one-cyan, true);
				}

				& button {
					display: inline-flex;
					align-items: center;
					padding: 5px 20px;

				  	color: $offwhite;
				  	background: inherit;
				  	border: none;
				  	font-family: 'Ubuntu';
				  	font-size: 1.2rem;
				  	overflow: hidden;
				  	cursor: pointer;
				  	@include transition($transition-speed);

				  	& span { margin-left: 5px; }
				  	&:hover { color: $one-cyan; }
				  	&:focus { outline: 0; }
				}

			}

			& table {
				width: 100%;
				font-size: 1.1rem;
				border-collapse: collapse;
				overflow: scroll;
				table-layout: fixed;

				& thead {
					background: $two-blue-dark;

					& button {
						display: inline-flex;
						align-items: center;
						padding: 5px 20px;

					  	color: $offwhite;
					  	background: inherit;
					  	border: none;
					  	font-family: 'Ubuntu';
					  	font-size: 1rem;
					  	overflow: hidden;
					  	cursor: pointer;
					  	@include transition($transition-speed);

					  	&:hover { color: $one-cyan; }
					  	&:focus { outline: 0; }
					}
				}

				& tr {

					& .blocked-container { 
						height: 60px; 
						width: 60px;
					}

					&.disabled {
						background: $light-gray;
						filter: brightness(.7);
						&:active { 
							pointer-events: none; 
							& .checkmark { pointer-events: none; }
						}
					}

					&.blocked { background: $white; }
					&.client { background: $five-green; }

				  	& td {
				  		position: relative;
				  		padding: 0 10px;
				  		overflow: hidden;

				  		border: 1px solid $two-blue;

						& .check-container { 

							& input {
								position: absolute;

								opacity: 0;
								&:checked ~ .checkmark { 
									background: $three-red; 
									&:after { display: block; }
								}
							}

							& .checkmark {
								height: 30px;
								width: 30px;
								position: absolute;
								top: 15px;
								left: 5px;

								cursor: pointer;
								background: white;
								border: 1px solid $light-gray;
								@include transition($transition-speed);

								&:after {
									content: ' ';
									display: none;
									position: absolute;
									left: 10px;
									top: 6px;
									width: 5px;
									height: 10px;
									border: solid white;
									border-width: 0 3px 3px 0;
									-webkit-transform: rotate(45deg);
									-ms-transform: rotate(45deg);
									transform: rotate(45deg);
								}
							}

							& .blocked {
								position: absolute;
								top: 20px;
								left: 45px;
							}

							&:hover input:not(:checked) ~ .checkmark { background: $offwhite; }
						}			  		
				  	}
				}
			}
		}
		

		& #price-bar {
			width: 15%;
			color: $black;

			text-align: center;

			& h3 {
				min-height: 48px;
				margin: 0;
				padding: 12px;
				color: white;
				background: $two-blue-dark;
			}

			& ul {
				margin: 0 5px;
				padding: 0 5px;
				list-style: none;

				& li {
					margin: 0 -10px;
					padding: 7px 10px;

					font-size: 1.1rem;
					cursor: pointer;
					@include transition($transition-speed);
					&.active { background: $one-cyan; }

					&:not(:last-child) { border-bottom: 2px solid $one-cyan; }
					&:hover { background: $one-cyan; }
				}
			}

			& #approve-list {
				width: 90%;
				display: inline-flex;
				align-items: center;
				padding: 5px 0;

			  	color: $two-blue;
			  	background: $five-green;
			  	border: none;
			  	font-family: 'Ubuntu';
			  	font-size: 1.05rem;
			  	text-align: center;
			  	overflow: hidden;
			  	cursor: pointer;
			  	@include box-shadow(0, 0, 16px, $black);
			  	@include transition($transition-speed-fast);
			  	@include border-radius(15px);

			  	& strong { margin: auto; }
			  	&:focus { outline: 0; }

			  	&:hover { 
			  		@include scale(1.05);
			  		color: lighten($two-blue, 10%); 
			  	}
			}
		}
	}
}

#choose-reason {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 5px;

	color: $black;
	background: white;
	@include box-shadow(0, 0, 4px, $black, true);

	& * { 
		margin: 0 -5px; 
		padding: 5px;
		&:not(:last-child) { border-bottom: 1px solid $one-cyan; }
	}

	& h4 { color: $three-red; }
	& h5 {
		cursor: pointer;
		&:hover { background: $one-cyan; }
	}
}