/* Util
 * Author: bhuelga
 * -----------------
 * Wrapper functions and global Sass variables for all pages
 */

/*   Constants   */

$transition-speed: .3s;
$transition-speed-fast: .1s;
$breakpoint-desktop: 800px;

/*   Utility Mixins   */

@mixin transition($duration, $timing:"") {
	-webkit-transition: $duration unquote($timing);
	-moz-transition: $duration unquote($timing);
	transition: $duration unquote($timing);
}

@mixin scale($size) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	transform: scale($size);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/*   Colors   */

$one-cyan: #4B9FCB;
$two-blue: #163856;
$two-blue-dark: #122D46;
$three-red: #FF3A38;
$four-orange: #C47F15;
$five-green: #33C451;
$white: white;
$offwhite: #F9F9F9;
$black: #2D2D2D;
$gray: #666666;
$light-gray: #CCCCCC;
$incomplete: #CF1816;
$complete: #33C451;

/*   General   */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	width: 100%;
	max-width: 2560px;
	height: auto;
	position: relative;
	margin: 0 auto;
	background: $white;
}

canvas {
	max-width: 100%;
	max-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;

    &-track { background: $offwhite; }
    &-thumb {
    	background: $gray;
    	&:hover { background: $two-blue; }
    }
}

.flexbox {
	display: flex;
}

.hidden {
	display: none !important;
}

.accordion {

	& .accordion-header {
		display: flex;
		align-items: center;
		padding: 15px;

		color: $white;
		border-bottom: solid 1px $two-blue-dark;

		vertical-align: middle;
		font-size: 1.1rem;
		cursor: pointer;
		@include transition($transition-speed);

		& span { margin-left: 5px; }
		&.active { background: $two-blue-dark; }
		&:hover { background: $two-blue-dark; }
		& .accordion-icon {
			margin-left: auto;
			@include scale(2);
		}
	}

	& .accordion-content {
	    display: none;
	    padding: 10px 20px 0 20px;

	    color: $white;
	    background: $black;
	    border-bottom: solid 1px $two-blue-dark;

        & .accordion-subheader {
        	display: flex;
        	justify-content: left;
        	align-items: center;
        	margin: 10px 0 15px 10px;
        	cursor: pointer;

        	& i { margin-right: 5px; }

        	& .edit-icon {
        		margin-left: auto;

        		opacity: 0;
        		@include transition($transition-speed-fast);
        	}

        	&:hover { 
        		& span { color: $one-cyan; }
        		& .edit-icon { opacity: 1; }
	    	}
        }

	    & .accordion-subcontent {
	    	display: none;
	    	margin: 0 -20px !important;
	    	padding: 10px 20px;
	    	background: $gray;

	    	& div {
	    		display: flex;
	    		align-items: center;
	    		margin: 10px 10px;

	    		cursor: pointer;
	    		@include transition($transition-speed);

	    		& i {
	    			margin-right: 5px;
	    			@include scale(.6);
	    		}

	    		&.active { background: $incomplete; }
	    		&:hover { color: $one-cyan; }
	    	}
	    }
	}
}

.tooltip {
    position: relative;

    & .tooltiptext {
    	width: 150px;
    	position: absolute;
    	top: calc(100% + 10px);
    	left: 0;
    	z-index: 20;
    	padding: 5px;
    	visibility: hidden;

    	font-size: 1rem;
    	color: $white !important;
    	background: black;
    	text-align: center;
    	@include border-radius(6px);
    	
    	// arrow
    	&:after {
    		content: " ";
    		position: absolute;
    		bottom: 100%;
    		left: 50%;
    		margin-left: -10px;
    		border-width: 10px;
    		border-style: solid;
    		border-color: transparent transparent black transparent;
    	}
    }

    &:hover .tooltiptext { visibility: visible; }
}

#modal-overlay {
	width: 100%;
	height: 100%;
	display: none; 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.8);
}

.modal {
	height: 80%;
	width: 70%;
	display: none;
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 5;
	margin-left: -35%;

    background: $two-blue;
    @include border-radius(60px);
    @include box-shadow(0, 0, 100px, black, false);

    & .modal-header {
    	height: 10%;

    	text-align: center;
    	color: white;
    	background: $two-blue;
    	@include border-radius(60px);

    	& h1 { margin: 0; padding: 15px;}
    }

    & .modal-body {
    	height: 65%;
    	padding: 10px;

    	background: white;
    	border-top: 5px solid $two-blue-dark;
    	border-bottom: 5px solid $two-blue-dark;
    	border-left: 25px solid $two-blue;
    	border-right: 25px solid $two-blue;
    }

    & .modal-footer {
    	height: 25%;
    	display: flex;
    	flex-flow: column nowrap;
    	justify-content: center;
    	align-items: center;
    	padding: 10px;

    	background: $two-blue;
    	@include border-radius(16px);

    	& button {
    		margin-bottom: 20px;
    		padding: 20px 60px;
    		font-family: 'Ubuntu';
			font-size: 1.5rem;
			background: $five-green;
			border: none;
			outline: none;
			cursor: pointer;
			@include transition($transition-speed);

			&:hover { background: lighten($five-green, 15%); }
    	}

    	& .button-message { 
    		padding: 5px 0;
    		color: white; 

    		&:not(:last-child) { border-bottom: 1px solid $one-cyan; }
    	}

    }
}