/* Home Screen
 * Author: bhuelga
 * -----------------
 * Styles elements that are used on multiple pages of the site.
  */

@import "./util.scss";

#header-content {
	height: 800px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 3rem;
	background-color: $one-cyan;

	& a {

		color: $two-blue;
		text-decoration: none;
		&:hover {
			color: $two-blue-dark;
		}
	}
}

#product-content {
	height: 600px;
	width: 100%;
	
	background-color: $two-blue;
}

#pma-info-content {
	height: 600px;
	width: 100%;
	
	background-color: $two-blue-dark;
}

#homeowner-info-content {
	height: 600px;
	width: 100%;
	
	background-color: $four-orange;
}

#backoffice-info-content {
	height: 600px;
	width: 100%;
	
	background-color: $five-green;
}
