/* Util
 * Author: bhuelga
 * -----------------
 * Wrapper functions and global Sass variables for all pages
 */

/*   Constants   */

$transition-speed: .3s;
$transition-speed-fast: .1s;
$breakpoint-desktop: 800px;

/*   Utility Mixins   */

@mixin transition($duration, $timing:"") {
	-webkit-transition: $duration unquote($timing);
	-moz-transition: $duration unquote($timing);
	transition: $duration unquote($timing);
}

@mixin scale($size) {
	-webkit-transform: scale($size);
	-moz-transform: scale($size);
	transform: scale($size);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius: 50%) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/*   Colors   */

$one-cyan: #4B9FCB;
$two-blue: #163856;
$two-blue-dark: #122D46;
$three-red: #CF1816;
$four-orange: #C47F15;
$five-green: #33C451;
$white: white;
$offwhite: #F9F9F9;
$black: #2D2D2D;
$gray: #666666;
$light-gray: #CCCCCC;
$incomplete: #8A8A8A;
$complete: #33C451;

/*   General   */

* {
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	width: 100%;
	max-width: 2560px;
	height: auto;
	position: relative;
	margin: 0 auto;
	background: $white;
}

canvas {
	max-width: 100%;
	max-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;

    &-track { background: $offwhite; }
    &-thumb {
    	background: $gray;
    	&:hover { background: $two-blue; }
    }
}

.flexbox {
	display: flex;
}

.hidden {
	display: none !important;
}

.accordion {

	& .accordion-header {
		display: flex;
		align-items: center;
		padding: 15px;

		color: $white;
		border-bottom: solid 1px $two-blue-dark;

		vertical-align: middle;
		font-size: 1.1rem;
		cursor: pointer;
		@include transition($transition-speed);

		& span { margin-left: 5px; }
		&.active { background: $two-blue-dark; }
		&:hover { background: $two-blue-dark; }
		& .accordion-icon {
			margin-left: auto;
			@include scale(2);
		}
	}

	& .accordion-content {
	    display: none;
	    padding: 10px 20px 0 20px;

	    color: $white;
	    background: $black;
	    border-bottom: solid 1px $two-blue-dark;

        & .accordion-subheader {
        	display: flex;
        	justify-content: left;
        	align-items: center;
        	margin: 10px 0 15px 10px;
        	cursor: pointer;

        	& i { margin-right: 5px; }

        	& .edit-icon {
        		margin-left: auto;

        		opacity: 0;
        		@include transition($transition-speed-fast);
        	}

        	&:hover { 
        		& span { color: $one-cyan; }
        		& .edit-icon { opacity: 1; }
	    	}
        }

	    & .accordion-subcontent {
	    	display: none;
	    	margin: 0 -20px !important;
	    	padding: 10px 20px;
	    	background: $gray;

	    	& div {
	    		display: flex;
	    		align-items: center;
	    		margin: 10px 10px;

	    		cursor: pointer;
	    		@include transition($transition-speed);

	    		& i {
	    			margin-right: 5px;
	    			@include scale(.6);
	    		}

	    		&.active { background: $incomplete; }
	    		&:hover { color: $one-cyan; }
	    	}
	    }
	}
}

.tooltip {
    position: relative;

    & .tooltiptext {
    	width: 150px;
    	position: absolute;
    	top: calc(100% + 10px);
    	left: 0;
    	z-index: 20;
    	padding: 5px;
    	visibility: hidden;

    	font-size: 1rem;
    	color: $white !important;
    	background: black;
    	text-align: center;
    	border-radius: 6px;
    	
    	// arrow
    	&:after {
    		content: " ";
    		position: absolute;
    		bottom: 100%;
    		left: 50%;
    		margin-left: -10px;
    		border-width: 10px;
    		border-style: solid;
    		border-color: transparent transparent black transparent;
    	}
    }

    &:hover .tooltiptext { visibility: visible; }
}

.modal {
	height: 50%;
	width: 50%;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	background: $two-blue;
	@include border-radius(20px);
	@include box-shadow(0, 0, 18px, black);

}